*{
    font-family:"微软雅黑"；
}
.style1{
    float: left;
    border: 1px white solid;
    background-color:#3399cc;
    text-align: center;
    height:760px;
    width: 200px;
    padding-top: 60px;
    color: white;
    font-size: 20px;
    margin: 5px;
}

.style2{
    float: left;
    padding: 5px;
    margin-left: 10px;
}

th{
    text-align: left;
}
tr{
    text-align:left;
}